.hasfocus .panel#downloads .vivaldi-tree:focus-within .tree-row[data-selected] .DownloadItem-ActionButton {
    --backgroundColor: var(--colorAccentBgAlpha) !important;
    --foregroundColor: var(--colorAccentAlphaHeavy) !important;
    border: 1px solid var(--colorAccentBorder) !important;
    fill: var(--colorAccentFg) !important;
}

.hasfocus .vivaldi-tree.no-selection:focus-within:after {
    box-shadow: inset 0 0 0 2px var(--colorAccentBgAlpha) !important;
}

button:focus:not([tabindex='-1']),
input:focus:not([tabindex='-1']),
select:focus:not([tabindex='-1']),
textarea:focus:not([tabindex='-1']),
input[type=text]:focus:not([tabindex='-1']),
input[type=search]:focus:not([tabindex='-1']),
input[type=password]:focus:not([tabindex='-1']),
input[type=email]:focus:not([tabindex='-1']),
input[type=url]:focus:not([tabindex='-1']),
input[type=number]:focus:not([tabindex='-1']),
input[type=radio]:focus:not([tabindex='-1']),
input[type=date]:focus:not([tabindex='-1']),
input[type=time]:focus:not([tabindex='-1']),
input[type=checkbox]:focus:not([tabindex='-1']),
input[type=button]:focus:not([tabindex='-1']),
input[type=submit]:focus:not([tabindex='-1']) {
    border-color: var(--colorAccentBorder) !important;
    box-shadow: 0 2px 0 0 var(--colorAccentBorder) !important;
}

select[multiple]:focus option:checked,
select[size]:focus option:checked {
    color: var(--colorHighlightFg) !important;
    background: linear-gradient(var(--colorAccentBg), var(--colorAccentBgAlpha)) !important;
}

#browser .Switch-Input:checked {
    background-color: var(--colorAccentBg) !important;
}

input[type=button][type=submit]:active,
input[type=submit][type=submit]:active,
input[type=color][type=submit]:active,
.webpage-button[type=submit]:active,
input[type=button].primary:active,
input[type=submit].primary:active,
input[type=color].primary:active,
.webpage-button.primary:active {
    color: var(--colorAccentFg) !important;
    background: var(--colorAccentBg) !important;
    border-color: var(--colorAccentBorder) !important;
}

input[type=checkbox]:before,
input[type=checkbox]:after {
    background-color: var(--colorAccentBg) !important;
}

input[type=checkbox]:before:hover,
input[type=checkbox]:after:hover {
    background-color: var(--colorAccentBgDarker) !important;
}

/* #panels> :not(#window-panel) { */
/* .panel-group:not(#switch) { */
#panels>:not(#switch) {
    -webkit-mask-image: linear-gradient(#0000 0.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001px, var(--colorAccentBg) 10px);
}

.vivaldi-tree .separator {
    border: 0.69px groove var(--colorAccentBgFadedMore);
}

.vivaldi-tree .tree-row .close svg,
.vivaldi-tree .tree-row .mail-status-indicator svg,
.vivaldi-tree .folder.tree-row :not(.expand-icon) svg:not(.folder-icon) {
    fill: var(--colorAccentBgFadedMost);
    transition: 0.69s;

    stroke: none;
}

.vivaldi-tree .folder.tree-row :is(.expand-icon) svg.folder-icon {
    fill: var(--colorAccentBgDarker);
    transition: 0.69s;
}


.vivaldi-tree .tree-row :not(.folder) .expand-icon~svg {
    fill: var(--colorBgAlpha);
    stroke: var(--colorAccentBgAlpha);
    transition: 0.69s;
}

.vivaldi-tree .folder .expand-icon svg {
    fill: var(--colorAccentBgAlpha);
    /*   stroke: var(--colorAccentBgDark); */
    stroke-color: var(--colorAccentBg);
    stroke-width: initial;
    transition: 0.69s;
}

.panel:not(:hover) .vivaldi-tree .tree-item span.item-count {
    opacity: 0;
    transition: 0.69s;
}

.vivaldi-tree:not(:hover) .tree-row label span.item-count {
    opacity: 0.25;
    transition: 0.69s;
}

.vivaldi-tree:hover .tree-row:not(:hover) label span.item-count {
    opacity: 0.55;
    transition: 0.69s;
}

.panel .vivaldi-tree .tree-row[data-selected][data-nofocus] label span.item-count {
    opacity: 0.85;
    transition: 0.69s;
    animation-name: pulse;
    animation-duration: 6.9s;
    animation-iteration-count: infinite;
}

/* Other potential methodz:
#switch .addwebpanel-wrapper>button:first-of-type,
#switch>button:first-of-type */
/*
#switch>button.panelbtn.uifocusstop.bookmarks.active
#switch:not(.addwebpanel-wrapper)>:not(.addwebpanelcallout) {
    -webkit-mask-image: linear-gradient(#0000 0.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001px, var(--colorAccentBg) 10px);
}
.addwebpanel-wrapper {
    -webkit-mask-image: unset !important;
}
#switch:not(.addwebpanel-wrapper)>:not(.addwebpanelcallout) {
    -webkit-mask-image: linear-gradient(#0000 0.0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001px, var(--colorAccentBg) 10px);
} */