/* automate status bar */
.toolbar-statusbar {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9;
	height: 26px;
	width: auto;
	padding-top: 2px;
	border-radius: var(--radius);
	border: none;
	transition: 0.15s 0s !important;
	/* ! Added to try and prevent  undesired popup (11-7-19) */
	transition-delay: 0.69s linear !important;
}
.toolbar-statusbar:not(:focus-within):not(:hover) {
	height: 12px;
	background: transparent !important;
	transition: 0.15s 0.4s !important;
}
.toolbar-statusbar:not(:focus-within):not(:hover) :not(.status-info) {
	opacity: 0;
	transition: opacity 0s 0.55s !important;
}

/*? TXT size */
#vivaldi-tooltip {
	font-size: 11px !important;
}

.status-info.visible {
	visibility: visible;
	/* background: var(--colorAccentBgFaded) !important; */
	/* animation-name: pulse;
	animation-duration: 1.69s;
	animation-iteration-count: infinite; */
	border-radius: 10px !important;
	opacity: 0.69;
}
.status-info {
	position: fixed;
	left: 0;
	bottom: 1px;
	padding: 1.5px 8px 2px;
	/* border-radius: 0 var(--radius) 0 0; */
	/* background: var(--colorBgDark); */
	transition: all 690ms linear;
	visibility: hidden;
}
