/*
@charset "UTF-8";

#tabs-container.left:not(:hover),
#tabs-container.right:not(:hover) {
	width: 30px !important;
}
/*
#tabs-container.left, #tabs-container.right {
    position: absolute;
    top: 0;
    bottom: 0;
}
*/
/*
#tabs-container.left {
	left: 0;
}
#tabs-container.right {
	right: 0;
}
/* ! Panels adjustment */
/* ? Not sure how I should do this UI-wise... */
/*
#panels-container.right.button.switcher:not([style="width: 4px;"])
	~ #tabs-container.right {
	right: 4px;
}
#panels-container.left.button.switcher:not([style="width: 4px;"])
	~ #tabs-container.left {
	left: 4px;
}
*/
/*
#browser.tabs-left #webview-container {
	margin-left: 30px;
}
#browser.tabs-right #webview-container {
	margin-right: 30px;
}
*/
/*
#tabs-container.left .tab-strip::-webkit-scrollbar,
#tabs-container.right .tab-strip::-webkit-scrollbar {
	width: 5px;
}
*/

/* * NEW 6-30-20 dude99 * */

/* vertical tabbar auto-shrink */

#tabs-container.left,
#tabs-container.right {
	position: absolute;
	height: 100%;
	z-index: 1;
	transition: width .15s 0s !important;
}

#tabs-container.left:not(:focus-within):not(:hover),
#tabs-container.right:not(:focus-within):not(:hover) {
	width: 30px !important;
	transition: width .2s ease-in .25s !important;
}

#tabs-container.right {
	right: 0;
}

#browser:not(.fullscreen).tabs-left #webview-container {
	margin-left: 30px;
}

#browser:not(.fullscreen).tabs-right #webview-container {
	margin-right: 30px;
}