@charset "UTF-8";

.toggle-trash svg path:first-of-type {
  d: path('M 6 8 h14 v2 h-14 Z M 6 12 h14 v2 h-14 Z M 9 16 h8 v2 h-8 Z');
}

.toggle-trash svg path:not(:first-of-type) {
  display: none;
}

.toggle-trash svg path {
  background-color: transparent !important;
  border-radius: 100px !important;
}

/* MY DUMB PANEL THING */
/*
.panelbtn.webviewbtn[title="vivaldi://extensions/"] svg path {
  d: path("M 448.801,271 H 497 c 8.284,0 15,-6.716 15,-15 V 111.4 c 0,-8.284 -6.716,-15 -15,-15 H 367.4 V 63.2 C 367.4,28.351 339.048,0 304.2,0 269.352,0 241,28.352 241,63.2 V 96.4 H 111.4 c -8.284,0 -15,6.716 -15,15 V 241 H 63.2 C 28.352,241 0,269.352 0,304.2 c 0,34.848 28.352,63.2 63.2,63.2 H 96.4 V 497 c 0,8.284 6.716,15 15,15 H 256 c 8.284,0 15,-6.716 15,-15 v -48.2 c 0,-18.307 14.894,-33.2 33.2,-33.2 18.306,0 33.2,14.894 33.2,33.2 V 497 c 0,8.284 6.716,15 15,15 H 497 c 8.284,0 15,-6.716 15,-15 V 352.4 c 0,-8.284 -6.716,-15 -15,-15 h -48.199 c -18.308,0 -33.201,-14.894 -33.201,-33.2 0,-18.306 14.893,-33.2 33.201,-33.2 z m 0,96.4 H 482 V 482 H 367.4 v -33.2 c 0,-34.849 -28.352,-63.2 -63.2,-63.2 -34.848,0 -63.2,28.351 -63.2,63.2 V 482 H 126.4 V 352.4 c 0,-8.284 -6.716,-15 -15,-15 H 63.2 C 44.893,337.4 30,322.506 30,304.2 30,285.894 44.894,271 63.2,271 h 48.2 c 8.284,0 15,-6.716 15,-15 V 126.4 H 256 c 8.284,0 15,-6.716 15,-15 V 63.2 C 271,44.893 285.894,30 304.2,30 c 18.306,0 33.2,14.894 33.2,33.2 v 48.2 c 0,8.284 6.716,15 15,15 H 482 V 241 h -33.199 c -34.85,0 -63.201,28.352 -63.201,63.2 0,34.848 28.351,63.2 63.201,63.2 z"
    );
  background-color: transparent;
  border-radius: 100px;
}
*/
/*
button.panelbtn.webviewbtn[data-id="webview-ck6ivc6xo000r395xy8mzvfv2"] img {
  background: url(chrome://favicon/size/16@2x/chrome://extensions/?id=nnnheolekoehkioeicninoneagaimnjd);
  background-color: #0000 !important;
  background-position: bottom left !important;
  transform: scale(0.78) translateY(-2px) translateX(2px) !important;
  width: 32px !important;
  height: 32px !important;
}
*/